body{
  background-color: #141414;
  color: #003851;
}
.movie-app > .row{
  overflow-x:auto;
  flex-wrap:nowrap;
  
}
.container-fluid{
 background-color: #003851;
  color: #ffffff;
}
.image-container{
	position: relative;
	transition: transform 0.5s;
}
.image-container:hover{
cursor:pointer;
transform:scale(1.1);
}
.image-container:hover .overlay{
	opacity:1;
}
.overlay{
	position: absolute;
	background:rgb(27,43,52,0.5);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;

}
.movie-app{
	height:1200px;
}